header title {
    text-align : left;
    
}
main article1 h2, .col-1-2,{
    text-align : left;

}
main article1 section1 p{
    text-align : right;

}
main article2 section1 p{
    text-align : right;

}
main article3 section1 p{
    text-align : right;

}
header{
    border:50px solid white;
    background-color: green; 
}
main article1 .col-1-2 {
    border:2px solid black;
    margin: 2px;
}
main article2 .col-1-2 {
    border:2px solid black;
    margin: 2px;
}
main article3 .col-1-2 {
    border:2px solid black;
    margin: 2px;
}